<br>
<br>
<div class="m-5">
<h1 class="text-center"><%= @cocktail.name %></h1>
<div class="mt-5">
<h5 class="text-info text-center"><% @cocktail.doses.each do |dose| %>
  <p><%= "#{dose.description} of #{dose.ingredient.name}" %></p>
<% end %></h5>

<p class="text-center">
<%= cl_image_tag @cocktail.photo.key, width: 400, height: 300, crop: :fill %>
</p>


</div>
<div class="m-5">
<%= render 'dose_form', dose: @dose, cocktail: @cocktail%></p>
</div>
<p class=text-center><%= link_to "back", cocktails_path %></p>
</div>
